@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Roboto:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;800&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

@layer base {
  img {
    @apply inline-block;
  }
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
  background: #000;
  color: aliceblue;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  color: aliceblue;
}

.font-playwrite {
  font-family: "Playwrite US Trad Guides", cursive;
  color: aliceblue;
}

.font-science-gothic {
  font-family: "Science Gothic", sans-serif;
  color: aliceblue;
}

.font-inter {
  font-family: "Inter", sans-serif;
  color: aliceblue;
}

.font-lato {
  font-family: "Lato", sans-serif;
  color: aliceblue;
}

.font-merriweather {
  font-family: "Merriweather", serif;
  color: aliceblue;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
  color: aliceblue;
}

.font-dancing-script {
  font-family: "Dancing Script", cursive;
  color: aliceblue;
}

.font-lobster {
  font-family: "Lobster", cursive;
  color: aliceblue;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
  color: aliceblue;
}